@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
}

.container {
  position: absolute;
  height: 100%;
  overflow: hidden;
  min-width: 100%;
}
.container:hover .top:before,
.container:hover .top:after,
.container:hover .bottom:before,
.container:hover .bottom:after,
.container:active .top:before,
.container:active .top:after,
.container:active .bottom:before,
.container:active .bottom:after {
  margin-left: 200px;
  transform-origin: -200px 50%;
  transition-delay: 0s;
}
.container:hover .center,
.container:active .center {
  opacity: 1;
  transition-delay: 0.2s;
}

.top:before,
.top:after,
.bottom:before,
.bottom:after {
  content: '';
  display: block;
  position: absolute;
  width: 200vmax;
  height: 200vmax;
  top: 50%;
  left: 50%;
  margin-top: -100vmax;
  transform-origin: 0 50%;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  z-index: 10;
  opacity: 0.65;
  transition-delay: 0.2s;
}

.submit {
  padding: 0.5rem;
  border-radius: 10px;
  color: #525252;
  font-family: 'Raleway', sans-serif;
  border: 0;
}

.submit:hover {
  color: black;
}

.top:before {
  transform: rotate(45deg);
  background: #ebeae9;
}
.top:after {
  transform: rotate(135deg);
  background: #d8d7d7;
}

.bottom:before {
  transform: rotate(-45deg);
  background: #d8d7d7;
}
.bottom:after {
  transform: rotate(-135deg);
  background: #ebeae9;
}

.center {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay: 0s;
  color: #333;
}
.center input {
  width: 100%;
  padding: 15px;
  margin: 5px;
  border-radius: 1px;
  border: 1px solid #ccc;
  font-family: inherit;
}

.errorMsg {
  text-align: center;
  background-color: rgb(235, 93, 93);
  color: white;
}
